* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0E0E0E;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px;
    padding: 20px;
}

#left-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 0 0 200px;
}

#picture {
    width: 200px;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #e0e0e0;
    background: #101010;
}

#skills {
    width: 200px;
    height: 280px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #e0e0e0;
    background: #101010;
}

#right-column {
    min-width: 300px;
    gap: 15px;

    display: flex;
    flex-direction: column;
    flex: 1;
}

#autobiography {
    width: 100%;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #e0e0e0;
    background: #101010;
}

#projects-container {
    min-width: 120px;
    height: 140px;
    padding: 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    background: #101010;
}

.project {
    height: 100px;
    width: 100px;
    padding: 10px;

    background: #101010;
}

p {
    color: #FFFFFF;
}